Flask==0.12.2
Flask-Cors==3.0.3
googletrans==2.4.0
gunicorn==19.9.0
Jinja2==2.10
jsonschema==2.6.0
path.py==10.5
pathlib2==2.3.0
pathtools==0.1.2
protobuf==3.6.0
requests==2.18.4
urllib3==1.22
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.0
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.5
xlwt==1.2.0
zict==0.1.3
