{% extends "base.html" %}
{% block title %}About | English As She Is Spoke 2.0{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>About "English As She Is Spoke 2.0"</h1>
  <p class="lead">
  	This is an engine I made that translates your input from English back to English through ten different languages. It uses Google Translate for the translations, and sometimes gives quite funny results. It was inspired by "English As She Is Spoke", a 19th century Portuguese-English phrasebook, written by Pedro Carolino using a Portuguese-French phrasebook and a French-English dictionary. For more information about the whole thing, you can read the paper I wrote to accompany this project. Feel free to type in everything you can think of and explore in any way you'd like. Most importantly, have fun. Thank you for your interest.
  </p>
</div>
{% endblock %}